body {
    width: 300px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    font-size: 13px;
    font-family: inherit;
    background-color: #008cba;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 12px 0px;
    display: inline-block;
    transition-duration: 0.3s;
}

input[type=button]:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

input[type=button]:focus {
    background-color: #005987;
}

#main-content {
    margin: 0px 5px;
}

.page-section {
    margin-bottom: 15px;
    /* To prevent collapsing margins, which also ensures smooth
       animation. */
    border: 1px solid transparent;
}

#results {
    list-style: none;
}

#results li {
    margin: 3px 0px;
}

#check {
    margin-top: 10px;
}
